<!DOCTYPE html>
<html>
<head>
  <title>Age Calculator</title>
</head>
<body>
  <h1>Age Calculator</h1>
  <form action="/calculate-age" method="post">
    <label for="birthYear">Birth Year:</label>
    <input type="number" id="birthYear" name="birthYear"><br><br>
    <label for="birthMonth">Birth Month:</label>
    <input type="number" id="birthMonth" name="birthMonth"><br><br>
    <label for="birthDay">Birth Day:</label>
    <input type="number" id="birthDay" name="birthDay"><br><br>


    <input type="date" id="data" name="date1"><br><br>


    <input type="submit" value="Calculate Age">
  </form>
</body>
</html>