<!DOCTYPE html>
<html>
<head>
  <title>Age Result</title>
</head>
<body>
  <h1>Your year is: <%= data.year %></h1>
  <h1>Your month is: <%= data.month %></h1>
  <h1>Your date is: <%= data.Date %></h1>
  <h1>Your new date is: <%= data.input %></h1>
</body>
</html>